
.controls {
    display: flex;
    
    border-top: 0;
    padding: 10px;
    margin-top: 50px;
    justify-content: center;
  }
  
  .controlsright {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20 20 20 20;
    margin-top: 10px;
    color: white;
    font-size: 1em;
    background-color: rgb(119, 151, 226);
    border-radius: 5px;
    width: 20%;

  }
  
  .state {
    margin: 10px 0;
    font-family: monospace;
  }
  
  .statetitle {
    color: rgb(31, 26, 26);
    text-transform: uppercase;
  }
 